# dependencies
/node_modules

# build
/dist
/build

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# test coverage
/coverage

# prisma
prisma/*.db
